@font-face {
  font-family: "Gloria";
  src: url("../GloriaHallelujah-Regular.ttf");
}

html , body {
    font-family: "Gloria";
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    color: #1A1A1A;
}

body {
    background-color: #c0beb6;
    font: 14px sans-serif;
}

.wrapperofwrappers {
    width: 100%;
    height: 100%;
}

.paperwrapper {
    height: 566px;
    width: 400px;
    position: relative;
    top: 50%;
    right: -50%;
    transform: translate(-50% , -50%);
}

.paper {
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    padding: 24px;
    position: relative;
    background-color: #f5f5f0;
    transform: rotate(-3.0deg);
    z-index: 20;
}

.bg {
    padding: 24px;
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: 10;
    background-color: #e9e8e0;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    left: -10%;
    top: 10%;
    transform: rotate(-20.0deg);
}

.bgending {
    position: absolute;
    bottom: 5%;
}

.photo {
    position: relative;
    background-color: white;
    width: 110px;
    height: 110px;
    transform-origin: center;
    transform:  rotate(-4.5deg);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.itsme {
    border: 5px solid white;
}

.mydata {
    position: relative;
    padding-left: 25px;
}

.sticker {
    width: 40%;
    height: 15%;
    background-color: rgba(185, 174, 50, 0.578);
    position: absolute;
}

.tl {
    top: 0;
    left: 10%;
    width: 50%;
    transform-origin: center;
    transform: translate(-50% , -50%) rotate(-48deg);   
}

.btl {
    top: 0;
    left: 10%;
    width: 35%;
    transform-origin: center;
    transform: translate(-50% , -50%) rotate(-58deg);   
}

.bbl {
    bottom: 0%;
    left: 0%;
    width: 50%;
    transform-origin: center;
    transform: translate(-50% , 50%) rotate(45deg);   
}

.tr {
    top: 0;
    right: 0;
    transform-origin: center;
   transform: translate(+50% , -50%)  rotate(30deg);   
}

.br {
    bottom: 0;
    right: 0;
    width: 55%;
    transform-origin: center;
   transform: translate(+30% , +40%)  rotate(-35deg);   
}

.hand {
    font-family: "Gloria";
    color: black;
}

.skillstable {
    position: absolute;
    bottom: 5%;
    width: 90%;
    text-align: center;
}

.fandd {
    display: flex;
}

.bdate {
    text-decoration: line-through;
    position: relative;
}

.newbdate {
    position: absolute;
    top: -50%;
    right: 0%;
    color: crimson;
    font-size: 0.75rem;
    transform: rotate(-18deg);
}

.stamp {
    position: absolute;
    right: 8px;
    top: 14px;
    transform: rotate(-30deg);
}

.skillcell {
    min-height: 24px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    text-align: center;
    font-size: 0.7rem;
    position: relative;
}

.skills {
    position: absolute;
    bottom: 5%;
    width: 90%;
    display: grid;
    grid-template-areas:
    "H0 H0 H0 H0 H0"
    "A1 B1 C1 D1 E1"
    "A2 B2 C2 D2 E2"
    "A3 B3 C3 D3 E3"
    "A4 B4 C4 D4 E4"
    "A5 B5 C5 D5 E5"
    "A6 B6 C6 D6 E6"
}

.skillname {
    text-align: left;
}

.vhtml {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -52% , -58%) rotate(4deg);
}

.vcss {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -82% , -47%) rotate(14deg);
}

.vjs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -82% , -32%) rotate(-7deg);
}

.veb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -30% , -50%) rotate(2deg);
}

.rpad {
    padding-right: 10px;
}

.shrink {
    width: 300px;
    height: 400px;
    position: relative;
    top: 50%;
    right: -50%;
    transform: translate(-50% , -50%);
    z-index: 10;
}

